<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= category %></title>
</head>
<body>
  <h1><%= categoryName %></h1>
  <%- include('./partials/nav') %>
  <% menuItems.forEach((item) => { %>
    <h3><%= item.name %> <%= item.rating === 5 ? "â­" : "" %></h3>
    <ul> 
        <li>Price: <%= item.price %></li>
        <li>Rating: <%= item.rating %></li>
        <li>Details: <%= item.details %></li>
    </ul>  
  <% }) %>